{:deps    {org.clojure/clojure                    {:mvn/version "1.10.0"}
           com.google.cloud/google-cloud-bigquery {:mvn/version "1.64.0"}
           org.slf4j/slf4j-simple                 {:mvn/version "1.7.26"}
           github-tuh8888/hpl-utl                 {:git/url "git@github.com:tuh8888/hpl-util.git"
                                                   :sha     "17b59d2ae8bb15cf21b8ccb4c4a605fc5b18871f"}
           edu.ucdenver.ccp/knowtator             {:mvn/version "2.1.6"}
           org.clojurenlp/core                    {:mvn/version "3.7.0"}}}