{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        com.google.cloud/google-cloud-bigquery {:mvn/version "1.64.0"}
        uncomplicate/neanderthal {:mvn/version "0.22.0"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.26"}
        com.taoensso/nippy {:mvn/version "2.14.0"}
        com.climate/claypoole {:mvn/version "1.1.4"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        edu.ucdenver.ccp/knowtator {:mvn/version "2.1.6"}
        org.clojure/math.combinatorics {:mvn/version "0.1.4"}}}