{:deps    {org.clojure/clojure                    {:mvn/version "1.10.1-beta2"}
           com.google.cloud/google-cloud-bigquery {:mvn/version "1.64.0"}
           org.slf4j/slf4j-simple                 {:mvn/version "1.7.26"}
           github-tuh8888/hpl-utl                 {:git/url "git@github.com:tuh8888/hpl-util.git"
                                                   :sha     "5af4d2a82910c4972c929cf26f1312bc41a320a4"}
           github-tuh8888/Word2Vec-clj            {:git/url "git@github.com:tuh8888/Word2Vec-clj.git"
                                                   :sha     "10cae9f7e1cd964f5889b168175cfd06cdc575f6"}
           edu.ucdenver.ccp/knowtator             {:local/root "lib/knowtator-2.1.6.jar"}
           org.clojurenlp/core                    {:mvn/version "3.7.0"}
           incanter/incanter-charts               {:mvn/version "1.9.3"}
           incanter/incanter-core                 {:mvn/version "1.9.3"}
           incanter/incanter-svg                  {:mvn/version "1.9.3"}
           incanter/incanter-io                   {:mvn/version "1.9.3"}}
 :aliases {:depstar {:extra-deps
                     {com.healthfinch/depstar {:git/url "https://github.com/healthfinch/depstar.git"
                                               :sha     "4aa7b35189693feebc7d7e4a180b8af0326c9164"}}}}}

